/* FOR DESKTOP  */

.side-bar {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: #3D84A8;

    transition: transform 0.3s ease-in-out;
    border: none;

    overflow: hidden;
    flex-shrink: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;

    background-color: #3D84A8;
    
    text-decoration: none;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border: 1px;
    font-size: 1.25rem;
    border-radius: 5px;
    line-height: 1.75rem;
    color: white;

    transition: background-color 0.2s,
                color 0.2s;
}

.nav-link:hover {
    background-color: #216486;
    color: #d1f4e9;
}


/* MOBILE RESPONSIVE STYLES */

@media (max-width: 768px) {
    .side-bar {
        position: fixed;
        left: 0;
        height: 100%;
        width: 49%;
        z-index: 1000;
        max-width: 200px;

        transform: translateX(-110%);
    }

    .side-bar.open {
        transform: translateX(0);
    }
}
