.text-search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-inp {
    width: 70%;
    font-size: 1rem;
    background-color: rgb(193, 214, 221);
    border: none;
    border-radius: 30px;
    border-right: none;
    height: 40px;
    padding-left: 20px;
    color: rgb(68, 62, 62);
    
}

.text-inp:focus {
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);  
}

input:focus::placeholder {
  color: transparent; 
}

.search-btn {
    border: none;
    color: rgb(16, 36, 101);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 3.5rem;
    margin-left: -56px;
    padding: 0.525rem 0.51rem;
    border-radius: 30px;
    transition: background-color 0.3,
                opacity 0.2s;
}

.search-btn:hover {
    opacity: 0.9;
    background-color:  rgb(131, 174, 189);
}

.search-btn:active {
    opacity: 0.7;
}

.search-icon {
    font-size: 1.5rem;
}


@media (max-width: 768px) {



}